.itempage .content {
	padding-left: 120px;
	margin-right: 120px;
	overflow-y: auto;
	overflow-x: auto;
}

input[type=text] {
	width:99%;
	position:relative;
	display:block;
	margin: 1px;
}

#MainContent {
	display: -ms-grid;
	-ms-grid-columns:1fr;
	position:relative;
}

.HolderDiv {
	position: relative;
	margin:0;
	padding:0;
}